.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.grey {
    background-color: #121212
}

.black {
    background-color: #000000
}

.border-radius {
    border-radius: 10px;
}

.invert {
    filter: invert(1);
}

.margin {
    margin: 8px;
}

.m-top {
    margin-top: 3px;
}

.padding {
    padding: 25px;
}

.img-width {
    width: 22px;
}

.gradient {
    background: linear-gradient(180deg, #1a1a1a, #121212);
}