.border-color {
    border: 2px solid red;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.grey {
    background-color: #121212
}

.black {
    background-color: #000000
}

.white {
    color: #fff;
}

.grey-text {
    color: #9c9c9c;
}

.border-radius {
    border-radius: 10px;
}

.img-border {
    border-radius: 15px;
}

.invert {
    filter: invert(1);
}

.margin {
    margin: 8px;
}

.m-top {
    margin-top: 3px;
}

.padding {
    padding: 25px;
}

.img-width {
    width: 22px;
}

.gradient {
    background: linear-gradient(180deg, #1a1a1a, #121212);
}

.img-size {
    width: 100%;
    object-fit: contain;
}

.card-title {
    font-size: 18px;
}

.card-descrip {
    font-size: 14px;
    font-weight: 400;
}

.a-signbtn {
    text-decoration: none;
    color: #c1c1c1;
}

.a-logbtn {
    text-decoration: none;
    color: #000;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222; /* Dark color for the track */
  }
  
  /* For Firefox */
  scrollbar-color: #333 #222; /* Dark color for the thumb and track in Firefox */